section {
  width: 1200px;
}

#proyectos {
  width: 1200px;
}

h1.titulo {
  font-size: 5em;
  margin-bottom: 0;
}

h2.titulo {
  font-size: 2.8em;
}

#proyectos {
  width: 100vw;
}

#galeria {
  .proyecto {
    width: 20%;
  }
}
