@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 0.35;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  background-color: #091c35;
}

body {
  font-family: "Bebas Neue", cursive;
  display: block;
  justify-content: center;
}

#header {
  z-index: 0;
  width: 80vw;
  white-space: nowrap;
  text-align: center;
  position: relative;
}
#header #t1 {
  font-size: 5vw;
  margin: 0;
  padding: 1em 0 0.5em;
}
#header #t2 {
  font-size: 3vw;
}
#header .nombre {
  position: relative;
}
#header input {
  font-size: 2vw;
  width: 100%;
  margin-bottom: 3%;
  border: 0;
  text-align: center;
  padding: 0.3em;
}
#header input:focus {
  outline: none;
}
#header .enviar {
  font-size: 2vw;
  font-family: "Bebas Neue", cursive;
  color: white;
  padding: 0;
  font-weight: 600;
  width: 40%;
  background: #187af9;
  border-radius: 25px;
  display: block;
  margin: 0 auto;
}
#header .enviar:hover {
  color: #f7cf85;
  cursor: pointer;
  transform: scale(1.1);
}
#header #about {
  width: 40px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  fill: white;
  text-shadow: 3px 2px 5px #fcc653;
}
#header #about:hover {
  fill: #187af9;
  cursor: pointer;
  transform: scale(1.1);
}

#fondo {
  z-index: -2;
  position: fixed;
  display: block;
  left: 0;
  top: 0;
}

#letras,
#anagramas {
  background-color: #17396691;
  color: white;
  line-height: 1;
  text-align: center;
  padding: 1em;
}

#letras {
  margin: 2em;
}

#anagramas {
  top: 0;
  right: 0;
  width: 20vw;
  height: 100vh;
  overflow: auto;
  position: fixed;
}

#resultado {
  position: relative;
  width: 80vw;
  padding: 2em;
  line-height: 1.2;
  font-family: "Courier New", Courier, monospace;
  color: white;
}

/** code by webdevtrick ( https://webdevtrick.com ) **/
.textglitch {
  position: relative;
  margin: 0 auto;
  z-index: 1;
  font-weight: 700;
}
.textglitch .textglitch-link {
  position: relative;
  display: inline-block;
}
.textglitch .textglitch-link span {
  position: relative;
  z-index: 2;
  color: #fff;
}
.textglitch .textglitch-link::after, .textglitch .textglitch-link::before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: attr(data-content);
  visibility: hidden;
}
.textglitch .textglitch-link::before {
  color: rgba(255, 0, 188, 0.8);
  animation: textglitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}
.textglitch .textglitch-link::after {
  color: rgba(0, 255, 255, 0.8);
  animation: textglitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
}
.textglitch.active .textglitch-link::after, .textglitch.active .textglitch-link::before {
  visibility: visible;
}

.blur {
  filter: blur(1px);
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes textglitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-3px, 3px);
  }
  40% {
    transform: translate(-3px, -3px);
  }
  60% {
    transform: translate(3px, 3px);
  }
  80% {
    transform: translate(3px, -3px);
  }
  to {
    transform: translate(0);
  }
}
/*# sourceMappingURL=estilos.css.map */